.key {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--off-white);
  color: var(--black);
  flex-direction: column;
  text-align: center;
  margin-left: 2px;
  border-radius: 4px;
  border: 2px solid var(--off-white);

  &--delete {
    width: 100px;
  }
  &--oneandhalf {
    width: 75px;
  }
  &--enter {
    width: 112px;
  }
  &--caps {
    width: 90px;
  }
  &--shift-left {
    width: 127px;
  }
  &--spacebar {
    width: 300px;
  }
  &--bottom-funct {
    width: 70px;
  }
  &--color-gray {
    background: var(--gray);
    border-color: var(--gray);
  }
  &--color-green {
    background: var(--green);
    border-color: var(--green);
  }
  &--color-yellow {
    background: var(--yellow);
    border-color: var(--yellow);
  }
  &--color-red {
    background: var(--red);
    border-color: var(--red);
  }
  svg {
    height: 20px;
  }
  &--symbols {
    line-height: inherit;
  }
  &__sub-key {
    display: block;
  }

  &--activated {
    background-color: var(--activated);
    border-color: var(--activated);
  }
  &--active {
    animation: activated 0.2s ease-out;
    border-color: var(--active);
  }
}

@keyframes keypressed {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes activated {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
